node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.coverage
.cache
.DS_Store
*.log
.vscode
.idea
*.swp
*.swo
.dockerignore
Dockerfile
.github
Jenkinsfile
src
public
package*.json
bun.lockb
vite.config.*
tsconfig*.json
tailwind.config.*
postcss.config.js
eslint.config.js
